
/**
 * button
 */
.button-icon {
  margin-bottom: 0;
  padding: 0 1.0rem;
  height: unset;
  display: inline;
  line-height: unset;
  background-color: transparent;
  border-color: transparent;
}
.button-icon:hover,
.button-icon:focus {
  background-color: transparent;
  border-color: transparent;
}
.button-icon:active {
  border-color: #ccc;
}
.button-icon > svg {
  vertical-align: bottom;
}

/**
 * list
 */
 .list-unstyled {
   list-style: none;
 }
 
 /**
  * flex
  */
.flex-row {
  display: flex;
  flex-direction: row;
}
.align-items-center {
  align-items: center;
}

/**
 * space
 */
:root {
  --base-space: 8px;
}

/**
 * margin
 */
.mb-0 {
  margin-bottom: 0;
}
.ml-a {
  margin-right: auto;
}

/**
 * margin
 */
.p-y-1 {
  padding-top: var(--base-space);
  padding-bottom: var(--base-space);
}
